.contact {
    padding: 50px 0;
    background-color: #e8d3d3;

    .contact-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        background: #fff;
        width: 100%;
    }

    .contact-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        img {
            margin-right: 10px;
        }

        h1 {
            font-size: 2rem;
            color: #333;
        }
    }

    .contact-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact-left {
        position: relative;
        flex: 1;
        background-color: #ea4e4e;
        padding: 30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;

        p {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .social-media {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .list-social-media {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 30px;
                    height: 30px;
                }

                p {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }

        .contact-photo {
            position: absolute;
            top: -40px;
            right: -40px;
            transform: translate(-50%, 50%);

            img {
                width: 190px;
            }
        }
    }

    .contact-right {
        flex: 2;
        padding: 50px;
        border-radius: 10px;
        background-color: #f3f4f6;
    }

    contact-right h1{
        justify-content: center;
        align-items: center;
    }

    .success-message {
        color: green;
        font-weight: bold;
        text-align: center;
        margin: 10px 0;
    }

    .validation-error {
        color: red;
        text-align: center;
        margin: 10px 0;
    }

    .right-button {
        display: flex;

        button {
            background-color: #ea4e4e;
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #d43c3c; 
            }
        }
    }

    // Media Queries
    @media (max-width: 768px) {
        .contact-card {
            flex-direction: column;
        }

        .contact-left {
            padding: 20px;
            .contact-photo {
                position: static;
                margin-top: 20px;
                transform: none;
                img {
                    width: 150px; // Adjusted size for mobile
                }
            }
        }

        .contact-right {
            padding: 30px; // Adjust padding for mobile
        }
    }
}
